<!DOCTYPE html>

<html>


<head> 
<title> 
Speech to Sign
</title> 

<script type="text/javascript">
function showIt() {
  document.getElementById("div1").style.visibility = "visible";
}
setTimeout("showIt()", 0); // after 2 sec

function showIt2() {
  document.getElementById("div2").style.visibility = "visible";
}
setTimeout("showIt2()", 2000); // after 2 sec

function showIt3() {
  document.getElementById("div3").style.visibility = "visible";
}
setTimeout("showIt3()", 4000); // after 2 sec

function showIt4() {
  document.getElementById("div4").style.visibility = "visible";
}
setTimeout("showIt4()", 6000); // after 2 sec

function showIt5() {
  document.getElementById("div5").style.visibility = "visible";
}
setTimeout("showIt5()", 14000); // after 2 sec

</script>

</head>


<body>
<center>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Speech to Sign</h3>
            </br>
            <div id="div1" style="visibility: hidden">Recording in : 3</div>
            <div id="div2" style="visibility: hidden">Recording in : 2</div>
            <div id="div3" style="visibility: hidden">Recording in : 1</div>
            <div id="div4" style="visibility: hidden">Say Anything :</div>
            <text src="{{ url_for('return_text') }}" width="50%">
            <!--<div id="div5" style="visibility: hidden"> "{{return_text}}" </div>-->
            <!--<form action="{{ url_for('return_text')}}" method="GET">-->
            <!--</form>-->
            <img src="{{ url_for('app3_testing') }}" width="50%">
        </div>
    </div>
</div>

<button onClick="window.location.reload();">Refresh Page</button>

<input type="reset" value="Go back!" onclick="history.back()">
</center>
</body>


</html>