<!DOCTYPE html>

  <html>
    <head>
      <title>Video in HTML</title>
    
    </head>
    
    <body> 
    <center>
     <form method="POST" action="{{ url_for('enter_text')}}">
       <input type="submit" value="enter_text"/>
     </form>
     
     <form method="POST" action="{{ url_for('enter_audio')}}">
       <input type="submit" value="enter_audio"/>
     </form>
     
    <input type="reset" value="Go back!" onclick="history.back()">
    </center>
    </body>
    
  </html>